<%= button_to 'Back to Home', root_path, method: :get, class: "btn btn-link" %>
<h1>Sign Up</h1>
<div class="form-container">
  <div class='SignUpForm'>
    <%= form_with model: @user, local: true do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div class="field">
        <%= f.label :role_id, "Role" %>
        <%= f.select :role_id, options_for_select(@roles.reject { |role| role.name == 'patient' }.map { |role| [role.name, role.id] }) %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="actions">
        <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
