<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<h1>Sign Up</h1>
<%= button_to 'Back to Home', root_path, method: :get, class: "btn btn-link" %>

<%= form_with model: @user, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :role_id, "Role" %>
    <%= f.select :role_id, options_for_select(@roles.reject { |role| role.name == 'patient' }.map { |role| [role.name, role.id] }) %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit 'Sign Up' %>
  </div>
<% end %>
