<div class="form-container">
  <h1>Edit Patient</h1>
  <%= form_with(model: @patient, local: true) do |form| %>
    <% if @patient.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>
        <ul>
          <% @patient.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </div>

    <div class="field">
      <%= form.label :dob %>
      <%= form.date_select :dob %>
    </div>

    <div class="field">
      <%= form.label :address %>
      <%= form.text_area :address %>
    </div>

    <div class="actions">
      <%= form.submit "Update Patient" %>
    </div>
  <% end %>

  <%= button_to "Delete Patient", patient_path(@patient), method: :delete, data: { confirm: "Are you sure you want to delete this patient?" } %>
</div>
